@import url("../fonts/din/s.css");
:root{
  --bs-body-font-family:'DIN';
  --bs-body-font-family-bold: 'DIN';
  --bs-title-font-family: 'DIN';
  --bs-body-font-size: 1.1rem;
  --theme-primary-color: #00689f;
  --theme-primary-color-light: #1D6BA1;
  --bs-primary-rgb: 0,104,166;
  --theme-primary-color-rgb: 0,104,166;
  --theme-secondary-color: #00b8d4;
  --theme-secondary-color-rgb: 0,184,212;
  --bs-dark: var(--theme-primary-color);
  --bs-dark-rgb: var(--theme-primary-color-rgb);
  --bs-info: #0783c6;
  --bs-info-rgb: 7,131,198;
  --bg-dark-color-level-2: #00689f;
  --bg-dark-color-level-3: #1D6BA1;
  --bg-dark-color-level-4: #00689f;
  --bs-secondary: var(--theme-secondary-color);
  --bs-secondary-rgb: var(--theme-secondary-color-rgb);
  --bs-link-color: var(--theme-primary-color);
  --bs-link-hover-color: var(--theme-primary-color);
  --menu-icon:url('../img/icon/menu-b.svg?v=1.1');
  --menu-icon-w:url('../img/icon/menu-w.svg?v=1.1');
  --swiper-arrow-left:url('../img/icon/left.svg');
  --swiper-arrow-right:url('../img/icon/right.svg');
  --menu-icon-close:url('../img/icon/close-b.svg?v=1.1');
  --menu-list-icon:url('../img/icon/menu-arrow.svg');
  --menu-bg:url('../img/eye/bg/menu-bg.svg');
  --menu-bg-level-1:url('../img/bg/menu-bg-level-1.svg');
  --menu-bg-level-2:url('../img/bg/menu-bg-level-2.svg');
  --btn-icon-dark:url('../img/logo/icon.svg');
  --video-play-icon: url('../img/icon/play-w.svg');
  --video-pause-icon: url('../img/icon/pause-w.svg');
  --video-speaker-on: url('../img/icon/speaker-on.svg');
  --video-speaker-mute: url('../img/icon/speaker-mute.svg');
  --video-expand-icon: url('../img/icon/expand-w.svg');
  --gender-icon:url('../img/icon/gender-icon.svg');
  --reference-bg-logo-none:url('../img/bg/reference-bg-logo-none.svg');
  --custom-list-icon-1: url('../img/icon/list-icon-1.svg');
  --custom-list-icon-2: url('../img/icon/lifestyle/list-icon.svg');
  --preloader-icon:url('../img/logo/logo-optive.svg?v=1.4');
  --seconds-bg:url('../img/eye/bg/seconds-bg.svg?v=1.4');
  --blue-eye-bg:url('../img/bg/triggers-bg.jpg?v=1.4');
  --blue-eye-bg-ar:url('../img/bg/triggers-bg-ar.jpg?v=1.4');
  --grey-eye-bg:url('../img/eye/bg/grey-eye.svg?v=1.4');
  --ha-cmc-bg:url('../img/eye/bg/ha-cmc.jpg?v=1.4');
  --ha-cmc-bg-ar:url('../img/eye/bg/ha-cmc-ar.jpg?v=1.4');
  --dry-eye-banner:url('../img/eye/banner/dry-eye.jpg?v=1.4');
  --bottle-block-img-ha:url('../img/eye/family/ha.svg?v=1.4');
  --bottle-block-img-cmc:url('../img/eye/family/cmc.svg?v=1.4');
  --bottle-block-img-osmos:url('../img/eye/family/osmos.svg?v=1.4');
  --bottle-block-gradient-eye-icon:url('../img/eye/family/gradient-eye-icon.svg');
  --button-icon:url('../img/eye/button/icon.svg?v=1.4');
  --cart-icon:url('../img/eye/button/cart-icon.svg?v=1.4');
  --cart-icon-ar:url('../img/eye/button/cart-icon-ar.svg?v=1.4');
  --swiper-navigation-size: 30px;
  --swiper-theme-color: var(--theme-secondary-color);
  --bs-body-color: var(--theme-primary-color);
  --bs-btn-color: var(--theme-primary-color);
  --bs-btn-active-color: var(--theme-primary-color);
  --swiper-navigation-sides-offset: 0px;
}
main.home{
  --swiper-navigation-sides-offset: 5px;
}
html[dir="rtl"]{
  --bs-body-font-family: 'HelveticaNeueLT Arabic';
  --bs-title-font-family: 'HelveticaNeueLT Arabic';
}
html[dir="rtl"] ol{list-style: arabic-indic;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: var(--bs-title-font-family);
  font-weight: 400;
}
.display-5,.display-1{
  font-weight:400;
}
.rtl-en{
  text-align: right;
  direction: ltr;
}
html[dir="rtl"] .font-en{
  --bs-body-font-family:'DIN';
  --bs-title-font-family: 'DIN';
  direction: ltr;
}
.list-group{
  --bs-list-group-bg: transparent;
}
.font-en-bold{
  font-family: var(--bs-body-font-family-bold);
  font-weight: 900;
}
.btn{
  --bs-btn-border-radius: 2rem;
  --bs-btn-font-family: var(--bs-title-font-family);
  -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
  color: var(--theme-primary-color);
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: var(--theme-primary-color);
  -webkit-transform: translate(1px, -1px);
  transform: translate(1px, -1px);
}
.btn-dark{
  --bs-btn-bg: var(--theme-primary-color);
  --bs-btn-border-color: var(--theme-primary-color);
}
.btn-outline-dark{
  --bs-btn-border-color: var(--theme-primary-color);
}
.btn-outline-light{
  --bs-btn-active-color: var(--theme-primary-color);
}
.btn-outline-secondary {
    --bs-btn-color: var(--theme-secondary-color);
    --bs-btn-border-color: var(--theme-secondary-color);
    --bs-btn-hover-color: var(--theme-primary-color);
    --bs-btn-hover-bg: var(--theme-secondary-color);
    --bs-btn-hover-border-color: var(--theme-secondary-color);
    --bs-btn-active-bg: var(--theme-secondary-color);
    --bs-btn-active-border-color: var(--theme-secondary-color);
    --bs-btn-disabled-color: var(--theme-secondary-color);
    --bs-btn-disabled-border-color: var(--theme-secondary-color);
}
.btn-outline-primary {
    --bs-btn-color: var(--theme-primary-color);
    --bs-btn-border-color: var(--theme-primary-color);
    --bs-btn-hover-color: var(--theme-secondary-color);
    --bs-btn-hover-bg: var(--theme-primary-color);
    --bs-btn-hover-border-color: var(--theme-primary-color);
    --bs-btn-active-bg: var(--theme-primary-color);
    --bs-btn-active-border-color: var(--theme-primary-color);
    --bs-btn-disabled-color: var(--theme-primary-color);
    --bs-btn-disabled-border-color: var(--theme-primary-color);
}
.fs-65{
  font-size: 0.9rem!important;
}
.fs-7{
  font-size: 0.8rem!important;
}
.fs-8{
  font-size: 0.7rem!important;
}
a.text-green:hover{color: #80c93e;}
.lh-08{line-height: 0.8!important;}
.card{
  --bs-card-border-radius: 0;
  --bs-card-inner-border-radius: 0;
}
.form-check-input:checked,.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked{
  background-color: var(--theme-primary-color);
    border-color: var(--theme-primary-color);
}
.form-control.is-valid, .was-validated .form-control:valid{
  border-color: var(--theme-primary-color);
}
.form-control:focus,.form-control.is-valid:focus, .was-validated .form-control:valid:focus{
  border-color: var(--theme-primary-color);
  box-shadow:none;
}
.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color: var(--theme-primary-color);
}
.form-control.is-valid,.was-validated .form-control:valid{
  background-image: none;
}
.highlight-title{
  position: relative;
}
.bg-green{
  background-color: #80c93e;
}
.text-green{
  color: #80c93e;
}
.highlight-title:before{
  content: "";
    background-color: var(--theme-secondary-color);
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 40%;
    max-width: 100px;
}
.device-overlay{background-color: rgba(0,0,0,0.1);}
.menu-icon{
  position: relative;
    height: 3rem;
    width: 3rem;
    display: block;
    margin-left: auto;
    cursor: pointer;
    z-index: 11;
}
html[dir="rtl"] .menu-icon{
  margin-right: unset;
  margin-left: auto;
}
.topbar{
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  z-index: 9;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  min-height: 90px;
}
.topbar.dark-topbar{
  background-color: #416b9c;
}
footer:before{
  position: absolute;
  content: "";
  background-image: var(--menu-bg);
  background-position: left top;
  background-size: cover;
  width: 100%;height: 100%;
  left: 0;top: 0;
  overflow: hidden;
}
.topbar.menu-bg-level-1:before{
  background-image: var(--menu-bg-level-1);
}
.topbar.menu-bg-level-2:before{
  background-image: var(--menu-bg-level-2);
}
footer:before{
  background-size: cover;
}
.navbar-brand img{
  height: 3.5rem;
    position: absolute;
    top: 1rem;
    width: auto;
    left: calc(var(--bs-gutter-x) * .5);
}
body.slider-theme-dark .navbar-brand img.logo-img-primary{
  opacity: 0;
}
body.slider-theme-primary .navbar-brand img.logo-img-light{
  opacity: 0;
}
body.slider-theme-dark img.hide-for-slider-theme-dark,body.slider-theme-primary img.hide-for-slider-theme-primary{
  display: none;
}
.nav-link{
  --bs-nav-link-font-size: 1.1rem;
  --bs-nav-link-font-weight: 400;
  font-family: var(--bs-title-font-family);
}
.nav-link.hover-line{
  position: relative;
  z-index: 1;
}
.bg-dark-level-2{
  background-color: var(--bg-dark-color-level-2);
}
.bg-dark-level-3{
  background-color: var(--bg-dark-color-level-3);
}
.bg-dark-level-4{
  background-color: var(--bg-dark-color-level-4);
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.text-animate{
  background-image: linear-gradient(
    -225deg,
    #473575 0%,
    #44107a 29%,
    #5b5081 67%,
    #aea2cf 100%
  );
  background-size: 200% auto;
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
.topbar li{list-style: none;}
.mega-menu li a,.plan-list li a{position: relative;}
.plan-list li a:before{
  left: -2rem;
    top: 0.2rem;
}
.social-navbar img{
  height: 1.5rem;
  width: 1.5rem;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.bg-img-dark:before {
    background-image: url(../img/bg/banner-bg-content.svg);
    background-size: cover;
    background-position: center 90%;
    content: "";
    position: absolute;
    height: 100%;width: 60%;
    right: 0;bottom: 0;
    z-index: -1;
}
.animate-hover {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.swiper {
      width: 100%;
      height: auto;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
.swiper .swiper-prev,.swiper .swiper-next{
  position: absolute;
  display: block;
  background-image: var(--swiper-arrow-left);
  height: 3.5rem;width: 2rem;
  background-size: cover;left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.swiper-slide .swiper-next{
  background-image: var(--swiper-arrow-right);
  left: auto;
  right: 50%;
}
.highlight-img-border{
  position: relative;
  border: 0.3rem solid var(--theme-secondary-color);
  border-radius: 4rem;
  overflow: hidden;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.minimize-header .topbar{
  -webkit-transform: translateY(-125%);
  transform: translateY(-125%);
}
.custom-form .form-control{
  border-radius:0;
}
.video-block video {
   height:auto;
   background:transparent url('../img/bg/bg-v2.jpg') no-repeat 0 0;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
}
img.tagline-logo{
  width: 150px;
}
#videoPlayPause.control-icons,#videoMute.control-icons,#videoExpand.control-icons{
  position: absolute;
  height: 2rem;width: 2rem;
  bottom: 1.5rem;
  left: 1rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
}
#videoMute.control-icons{
  left: auto;
  right: 1rem;
}
#videoExpand.control-icons{
  left: auto;
  right: 1rem;
  top: 1rem;
  bottom: auto;
}
#videoPlayPause.control-icons:before,#videoMute.control-icons:before,#videoExpand.control-icons:before{
  position: absolute;
  content: "";
  height: 1rem;width: 1rem;
  background-image: var(--video-pause-icon);
  background-position: center;
  background-size: 0.8rem;
  left: 50%;top: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
#videoMute.control-icons:before{
  background-image: var(--video-speaker-on);
}
#videoExpand.control-icons:before{
  background-image: var(--video-expand-icon);
  background-size: 1rem;
}
#videoPlayPause.control-icons.pause:before{
  background-image: var(--video-play-icon);
}
#videoMute.control-icons.mute:before{
  background-image: var(--video-speaker-mute);
}
.language-switcher img{
  height: 1.3rem;
}
.language-switcher .lang-divider{
  position: relative;
    border-right: 1px solid var(--theme-primary-color);
    height: 0.6rem;
    margin-right: 5px;
    padding-left: 5px;
    top: 0px;
}
.video-full-width-fixed{
  line-height: 0;
}
.text-typing-block{
  min-height: 100px;
}
.percentage-block{
  position: relative;
}
.percentage-block .percentage-value{
  position: absolute;
    font-size: 7rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bg-gender{position: relative;}
.bg-gender:before{
  position: absolute;
  content: "";
  background-image: var(--gender-icon);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 60%;
  bottom: 0;left: 0;
}
html[dir="rtl"] .bg-gender:before{
  background-position: right;
}
.reference-bg,.reference-bg-logo-none{position: relative;}
.icons-carousel-value{
  height: 2.5rem;width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps-primary-rounded-block{
  height: 10rem;
    width: 10rem;
    text-align: center;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}
.ps-primary-rounded-block-text{
  border: 2px solid var(--theme-primary-color);
    border-radius: 25px;
    padding-top: 3.5rem;
    width: 9.5rem;
    margin-top: -3rem;
    z-index: 0;
    min-height: 250px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.mh-55-px{min-height: 55px;}
.mh-45-rem{min-height: 4.5rem;}
.ps-primary-rounded-block-text{
  border: 1px solid var(--theme-primary-color);
}
.ps-primary-rounded-block-text.hide{
  height: 0;min-height: 0;
  padding-top: 0rem;border-color: #fff;
  overflow: hidden;
}
.causes-rounded-block{
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.causes-rounded-block,.causes-rounded-block .causes-rounded-block-icon-circle{
  height: 12rem;
    width: 12rem;
    text-align: center;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 4rem;
    background-color: #fff;
    line-height: 1rem;
}
.causes-rounded-block .causes-rounded-block-icon-circle{
  position: absolute;
  top: -7rem;
  align-items: end;
  background-color: var(--theme-primary-color);
}
.causes-rounded-block.block-light .causes-rounded-block-icon-circle{
  background-color: var(--theme-primary-color-light);
}
@-webkit-keyframes arrow-slide-down {0% { opacity: 0; transform: translateY(-5px); }50% { opacity: 0.8; }100% { opacity: 0; transform: translateY(10px); }}
@keyframes arrow-slide-down {0% { opacity: 0; transform: translateY(-5px); }50% { opacity: 0.8; }100% { opacity: 0; transform: translateY(10px); }}
.causes-rounded-block::before{
  position: absolute;
    content: "";
    bottom: 0.8rem;
    background-image: var(--causes-rounded-block-arrow);
    height: 1.5rem;
    width: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-animation: arrow-slide-down 2s infinite ease-in-out;
    animation: arrow-slide-down 2s infinite ease-in-out;
    opacity: 0;
}
.causes-rounded-block.hide-arrow::before{
  content: unset;
}

.causes-rounded-block-body{
  height: auto;
    width: 13rem;
    position: relative;
    top: 0rem;
    color: #fff;
    padding: 1rem;
    line-height: 1.2rem;
    background-color: var(--theme-primary-color);
    border-radius: 25px;
}
.causes-rounded-block-body.block-light{
  background-color: var(--theme-primary-color-light);
}
.causes-rounded-block-body:before{
  position: absolute;
    content: "";
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -12rem;
    width: 13rem;
    height: 14rem;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--theme-primary-color);
    z-index: -1;
}
.causes-rounded-block-body.block-light:before{
  background-color: var(--theme-primary-color-light);
}
.bg-secondary-bottom,.bg-disease-bottom,.bg-disease-bottom-full,.life-style-bg{position: relative;}
.bg-secondary-bottom:before,.bg-disease-bottom:before,.bg-disease-bottom:after,.bg-disease-bottom-full:after{
  content: "";
  position: absolute;
  background-color: var(--theme-secondary-color);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}
.life-style-bg:before{
  height: 100%;
  background-image: var(--life-style-bg);
  background-size: cover;
  background-position: center;
  content: "";
  position: absolute;
  top: 0;left: 0;
  width: 100%;z-index: -1;
}
html[dir="rtl"] .life-style-bg:before{
  left: 0;right: auto;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.bg-disease-bottom:before,.bg-disease-bottom:after,.bg-disease-bottom-full:after{
  background-color: unset;
  height: 100%;
  width: 50%;
  background-image: var(--treat-bg);
}
.bg-disease-bottom:after{left: auto;right: 0;}
.bg-disease-bottom-full:after{width: 100%;}
.custom-icon-list li,.custom-icon-list-drop-blue li,.custom-icon-list-drop-green li{
  list-style: none;
  position: relative;
}
.custom-icon-list>li:before{
  position: absolute;
    left: -1.5rem;
    top: 10px;
    height: 0.5rem;
    width: 0.5rem;
    content: "";
    background: #000000;
    border-radius: 50%;
}
.custom-icon-list-drop-blue>li:before,.custom-icon-list-drop-green>li:before{
  position: absolute;
    left: -1.5rem;
    top: 5px;
    height: 1.2rem;
    width: 1.2rem;
    content: "";
    border-radius: 50%;
    background-repeat: no-repeat;
}
html[dir="rtl"] .custom-icon-list li:before{
  right: -1rem;
  left: auto;
}
html[dir="rtl"] .custom-icon-list-drop-blue li:before,html[dir="rtl"] .custom-icon-list-drop-green li:before{
  right: -2rem;top: 8px;
}
.custom-icon-list.list-icon-1 li:before{
  background-image: var(--custom-list-icon-1);
}
.custom-icon-list-drop-blue li:before{
  background-image: url('../img/icon/drop-blue.svg');
}
.custom-icon-list-drop-green li:before{
  background-image: url('../img/icon/drop-green.svg');
}
.custom-icon-list.blue-dot li:before{
  background-image: url('../img/icon/dot-blue.svg');
}
.custom-icon-list.green-dot li:before{
  background-image: url('../img/icon/dot-green.svg');
}
html[dir="rtl"] img.flip-img-only-ar{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.custom-icon-list.list-icon-2 li:before{
  background-image: var(--custom-list-icon-2);
  top: 3px;
  transform: none;
}
.complications-square-block .csb-header{
  cursor: pointer;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
}
.complications-square-block .csb-header:before{
  position: absolute;
  content: "";
  background-image: var(--complications-block-bg);
  background-size: contain;
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  left: 0;top: 0;
}
.complications-square-block .csb-body{
  position: relative;
  top: -25px;
  padding: 0.5rem;
  padding-top: 2rem;
  border: 2px solid var(--theme-primary-color);
  border-bottom-right-radius: 25px;
  border-top: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.complications-square-block.hide .csb-body{
  height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}
.accordion{
  --bs-accordion-color: var(--theme-primary-color);
}
.accordion.accordion-dark{
  --bs-accordion-btn-focus-box-shadow:none;
}
.accordion-dark .accordion-button::after{
  --bs-accordion-btn-icon:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-dark .accordion-button:not(.collapsed)::after{
  --bs-accordion-btn-active-icon:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion.accordion-dark[dir="ltr"] .accordion-button::after{
  margin-left:auto;
  margin-right:unset;
}
.accordion.accordion-dark.accordion-flush .accordion-item button{
  background-color: var(--theme-primary-color);
}
.accordion.accordion-dark.accordion-flush .accordion-item:nth-child(2) button,
.accordion.accordion-dark.accordion-flush .accordion-item:nth-child(4n+2) button{
  background-color: var(--bg-dark-color-level-2);
}
.accordion.accordion-dark.accordion-flush .accordion-item:nth-child(3) button,
.accordion.accordion-dark.accordion-flush .accordion-item:nth-child(4n+3) button{
  background-color: var(--bg-dark-color-level-3);
}
.accordion.accordion-dark.accordion-flush .accordion-item:nth-child(4) button,
.accordion.accordion-dark.accordion-flush .accordion-item:nth-child(4n+4) button{
  background-color: var(--bg-dark-color-level-4);
}
.preloader {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.preloader:before{
  content: "";
  position: absolute;
  background-image: var(--preloader-icon);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(2);
}
.campaign-visual-floating-logo{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 1;
}
.campaign-visual-floating-logo img{
  height: 4rem;
}
html[dir="rtl"] .campaign-visual-floating-logo{
  right: auto;
  left: 1rem;
}
.swiper-button-next, .swiper-button-prev{
  z-index: 8;
}
.reference-bg .accordion-body{
  color: var(--theme-primary-color);
  overflow-x: hidden;
}
.main-slider .slider-content{
  min-height: 100vh;
  width: 100%;
}
.img-fade-transition{
  transform: translateX(200%);
  transition: all 0.8s ease;
}
html[dir="rtl"] .img-fade-transition{
  transform: translateX(-200%);
}
.swiper-slide.swiper-slide-active .img-fade-transition{
  transform: translateX(0%);
}
.main-slider .slider-content-bg{
  width: 100%;height: 100%;
  position: absolute;
    left: 0;top: 0;
  background-position: center;
  background-size: cover;
}
.main-slider .swiper-pagination-bullet{
  width: 2rem;
  border-radius: 25px;
  content: "";
}
.main-slider .gradient-pagination{
  padding: 3px;
}
.main-slider .gradient-pagination .btn{
    width: 3rem;
    text-decoration: none;
    height: 0.8rem;
    transform: none;
}
.main-slider .gradient-pagination .btn:hover,.main-slider .gradient-pagination .btn.btn-dark{
  background-image: linear-gradient(to right, #4e82c1, #98c14f);
}
.main-slider .slider-content-data{
  position: relative;
  padding-top: 15rem;
  transition: all 0.5s ease;
}
.main-slider .slider-content-data img{
  width: 300px;
  max-width: 100%;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
.slider-theme-dark .slider-content-data{
  color: #ffffff;
}
.seconds-char-1,.seconds-char-2{
  width: 5rem;
  height: 9rem;
}
.seconds-char-1:before,.seconds-char-2:before{
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  left: 1px;top: -1.7rem;
  background-image: var(--seconds-bg);
  background-size:100%;
  background-repeat:no-repeat;
}
.blue-eye-bg::before{
  content: "";
  background-image: var(--blue-eye-bg);
  background-size:cover;
  background-position: left 1%;
  background-repeat:no-repeat;
  position: absolute;
  width: 100%;
  height: 75%;
  left: 0;
  top: 0;
}
html[dir="rtl"] .blue-eye-bg::before{
  background-image: var(--blue-eye-bg-ar);
  background-position: right 1%;
}
.countdown-group{
  font-size: 7rem;
}
.triggers-block{
  width: 100%;
  max-width:220px;
  margin-left: auto;
  margin-right: auto;
}
.divider-bar-vertical,.divider-bar{
  position: relative;
}
.divider-bar::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #fff;
  left: 50%;top:-3px;
  transform: translateX(-50%);
}
.divider-bar-vertical::before{
  content: "";
  position: absolute;
  width: 2px;
    height: 50px;
    top: -20px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
}
.grey-eye-bg{
  position: absolute;
  background-image: var(--grey-eye-bg);
  width: 41%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
html[dir="rtl"] .grey-eye-bg{
  left: auto;right: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.grey-eye-bg::after{
  position: absolute;
  background-color: #d2d2d2;
  width: 100%;
  opacity: 0.8;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
}
.bottle-block{
  position: relative;width: 180px;height: 200px;margin-left: auto;margin-right: auto;
}
.bottle-block .bottle-block-content{
  background: #fff;
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:end;
    padding-bottom: 2.5rem;
}
.bottle-block .bottle-block-section::before{
  position: absolute;
  background-image: var(--bottle-block-img-ha);
  content: "";
    top: -25%;
    left: 50%;z-index: 1;
    transform: translateX(-50%);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
}
.bottle-block.bottle-block-second .bottle-block-section::before{
  background-image: var(--bottle-block-img-osmos);
}
.bottle-block.bottle-block-third .bottle-block-section::before{
  background-image: var(--bottle-block-img-cmc);
}
.bottle-block.bottle-block-second{
  width: 220px;
}
.bottle-block.bottle-block-second .bottle-block-content{
  height: 240px;
  position: relative;
  top: -1rem;
}
.bottle-block.bottle-block-second .bottle-block-section::before{
  top: -37%;
}
.bottle-block .bottle-block-section::after{
  position: absolute;
  content: "";
  background-image: var(--bottle-block-gradient-eye-icon);
  width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}
.bottle-block.bottle-block-second .bottle-block-section::after{
  bottom: -63px;width: 70px;height: 70px;
}
.page-content{
  padding-top: 90px;
}
.page-content.home{
  padding-top: 0;
}
.blue-bg{
  position: absolute;
  background-color: #00689f;
  width: 59%;
  height: 100%;
  content: "";
  right: 0;
  top: 0;
}
html[dir="rtl"] .blue-bg{
  right: auto;left: 0;
}
.reference-bg{position: relative;}
.reference-bg::before{
  position: absolute;
  content: "References:";
  left: 0;
    bottom: -55px;
  color: #00689f;
  font-size: 7rem;
  font-weight: bold;
  opacity: 0.3;
  max-width: 100%;overflow: hidden;
}
html[dir="rtl"] .reference-bg::before{
  content: "المراجــــــع";
  left: auto;right: 0;
  bottom: 0;
}
.button-icon{
  position: relative;
  display: inline-block;
  max-width: 240px;
    height: 80px;
    border-radius: 50px;
    background-color: #416b9d;
    color: #fff;
}
.button-icon:before{
  content: "";
    background-image: var(--button-icon);
    position: absolute;
    background-size: contain;
    left: 0;
    top: 0;
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
}
.button-icon:hover{
  color: #fff;
}
.button-icon .button-icon-text{
  padding-left: 88px;
    padding-right: 7px;
    line-height: 1.2;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
    top: 0.5rem;
    position: relative;
    font-weight: 100;
}
img.item-image{
  max-width: 220px;
}
img.item-image-lg{
  max-width: 300px;
}
.buy-btn-cart{
  position: relative;
}
.buy-btn-cart a{
  display: table-cell;
    position: relative;
    text-decoration: none;
    padding-left: 55px;
    background: #f2f2f2;
    border-radius: 40px;
    height: 40px;
    vertical-align: middle;
    width: 150px;
    padding-top: 5px;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.3);
    color: #333333;
}
html[dir="rtl"] .buy-btn-cart a{
  padding-right: 55px;
    padding-left: 0;
    padding-top: 0;
}
.buy-btn-cart a:before{
    position: absolute;
    content: "";
    background-image: var(--cart-icon);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
html[dir="rtl"] .buy-btn-cart a:before{
  right: -1px;left: auto;
  background-image: var(--cart-icon-ar);
}
.list-group{
  --bs-list-group-color: var(--theme-primary-color);
}
.mt-negative-10{margin-top: -10px;}
body.slider-theme-primary .switch-main-slider{
  border-color: var(--theme-primary-color);
}
body.slider-theme-dark .switch-main-slider{
  border-color: #fff;
}
.symptoms-title-block h3{
  font-size: 2rem;
  font-weight: bold;
}
.symptoms-block .symptoms-title-block{
  position: relative;
  color: #fff;
  min-height: 60px;
}
.symptoms-block .symptoms-title-block h3 small{
  position: relative;
  margin-top: -5px;
}
.symptoms-section:before{
  content: "";
  background-color: #d1d0d0;
  position: absolute;
  height: 50%;
  bottom: 0;
  left: 0;
  width: 100%;
}
.countdown-section:before{
  content: "";position: absolute;
  background-image: url('../img/bg/timer-section-bg.svg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  left: 0;top:0;
}
.countdown-timer{
  position: relative;
}
.countdown-timer-result{
  color: #fff;
  position: absolute;
    top: 57%;
    left: 50%;
    font-size: 10rem;
    transform: translate(-50%,-50%);
}
html[dir="rtl"] .countdown-timer-result{
  top: 50%;
}
.symptoms-block .symptoms-title-block:before{
  content: "";
  background-image: url('../img/home/symptoms/text-bg-1.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}
.symptoms-block:nth-child(3) .symptoms-title-block:before{
  background-image: url('../img/home/symptoms/text-bg-2.png');
}
.symptoms-block:nth-child(4) .symptoms-title-block:before{
  background-image: url('../img/home/symptoms/text-bg-3.png');
}
.symptoms-block:nth-child(5) .symptoms-title-block:before{
  background-image: url('../img/home/symptoms/text-bg-4.png');
}
.countdown-content{position: relative;}
.countdown-content img{
  width: 100%;
  max-width: 600px;
}
.title-prefix-bar,.meet-family-bg,.grey-bg-50,.find-out-bg,.how-to-use-bg,.ded-bg,.factors-bg,.prevention-bg{position: relative;}
.title-prefix-bar:before{
  position: absolute;
  content: "";
  height: 1rem;
  width: 150px;
  background-color: #92c54f;
  top: -35%;
}
html[dir="rtl"] .title-prefix-bar:before{
  top: -10%;
}
.meet-family-bg::before{
  position: absolute;
  content: "";
  background-image: url('../img/optive-family/meet-family-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  left: 0;top: 0;
}
.info-hub-bg::before,.info-hub-bg::after{
  position: absolute;
  content: "";
  background-image: url('../img/bg/info-bg-with-eye-v3-en.png');
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 100%;width: 100%;
  max-height: 800px;
  right: 0;bottom: 0;
}
.info-hub-bg::after{
  background-image: url('../img/bg/info-bg-with-eye-v3-bg-en.png');
  z-index: -1;
  background-position: left bottom;
}
html[dir="rtl"] .info-hub-bg::before{
  background-image: url('../img/bg/info-bg-with-eye-v3-ar.png');
  background-position: left bottom;
}
html[dir="rtl"] .info-hub-bg::after{
  background-position: right bottom;
}
.find-out-bg::before{
  background-image: url('../img/bg/find-out-bg.jpg');
  width: 51%;
  right: 0;left: auto;
}
.grey-bg-50{
  background-color: #eceded;
}
.icon-title-image img{
  height: 120px;
}
.factors-block{
  max-width: 300px;
  min-height: 400px;
  position: relative;
}
.factors-block::before{
  content: "";
  position: absolute;left: 0;top: 0;
  width: 100%;height: 100%;
  background-image: url('../img/bg/factors/1.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.factors-block.factors-block-2::before{
  background-image: url('../img/bg/factors/2.png');
}
.factors-block.factors-block-3::before{
  background-image: url('../img/bg/factors/3.png');
}
.factors-block.factors-block-4::before{
  background-image: url('../img/bg/factors/4.png');
}
.question-form{color: #808080;}
.question{position: relative;}
.question::before{
  position: absolute;
  content: "";
  left: 1.5rem;
  top: 0.5rem;
  width: 15px;
  border-radius: 50%;
  height: 15px;
  background-color: #808080;
}
html[dir="rtl"] .question::before{
  left: auto;right: 1.5rem;
  top: 0.65rem;
}
.question-form .form-check-input{
  margin-top: -0.25rem;
}
html[dir="rtl"] .question-form .form-check-input{
  margin-top: 0.25em;
}
.question-form .form-check-input.is-valid~.form-check-label,
.question-form .was-validated .form-check-input:valid~.form-check-label{
  color: #808080;
}
.terms-bg{
  background-color: #416b9c;
}
.countdown-timer .countdown-start{
  position: absolute;
    width: 30%;
    left: 50%;
    height: 30%;
    top: 54%;cursor: pointer;
    transform: translate(-50%,-50%);
    background-image: url('../img/home/test/start-icon-en.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
}
html[dir="rtl"] .countdown-timer .countdown-start{
  background-image: url('../img/home/test/start-icon-ar.svg');
  top: 56%;
}
.countdown-timer .countdown-start:hover{
  width: 35%;height: 35%;
}
.bg-green-slope{position: relative;}
.bg-green-slope::before{
  content: "";position: absolute;
  left: 0;top: 0;
  height: 100%;width: 100%;
  background-color: #92c54f;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
}
.fixed-footer{
  position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.z-index-1{z-index: 1;}
.z-index-n-1{z-index: -1;}
.dry-eye-color-block{
  min-height: 70px;
    max-width: 250px;
    text-align: center;
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
}
html[dir="rtl"] .dry-eye-color-block{
  padding-top: 0px;
  padding-bottom: 5px;
}
.prevention-content-bg::before{
  position: absolute;
  content: "";
  background-image: url('../img/bg/prevention-content-bg.jpg');
  width: 100%;height: 100%;
  right: 0;top:0;
  background-size: cover;
  background-position: left;
}
html[dir="rtl"] .prevention-content-bg::before{
  background-image: url('../img/bg/prevention-content-bg-ar.jpg');
  background-position: right;
}
section#result{
  height: 0;opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body.show-results #result{
  height: 100%;opacity: 1;
}
.form-check-input[disabled]:checked~.form-check-label{opacity: 1;}
.main-menu .menu-item-with-icon>img{
  width: 30px;height: auto;position: relative;top:-2px;
}
html[dir="rtl"] .main-menu .menu-item-with-icon>img{
  top:0px;
}
.download-btn{
  background-color: var(--bs-info);
  display: inline-block;
  color: #fff !important;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 100;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
html[dir="rtl"] .download-btn{
  padding-left: 3rem;
  padding-top: 0rem;
  padding-right: 3rem;
  padding-bottom: 0.8rem;
  line-height: 3rem;
}
.info-hub-bg{
  position: relative;
  padding-bottom: 9rem;
}
@media (max-width: 991.98px) {
  .button-icon .button-icon-text{
    line-height: 1.5;
  }
  .reference-bg::before{
    font-size: 5rem;
    bottom: -32px;
  }
  .main-slider .slider-content-data{
    padding-top: 58vh;
  }
  .slider-theme-primary .slider-content-data{
    background-color: #ffffff;
  }
  .slider-theme-dark .swiper-slide[aria-label="4 / 4"] .slider-content-data{
    background-color: #060714;
  }
  .slider-theme-dark .swiper-slide[aria-label="2 / 4"] .slider-content-data{
    background-color: #66ccfb;
  }
  .slider-theme-dark .swiper-slide[aria-label="1 / 4"] .slider-content-data{
    background-color: #3c5d8e;
  }
  .main-slider .slider-content-bg{
    height: 55vh;
    background-position: 40%;
    z-index: 1;
  }
  .main-menu{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-top: 3rem;
    width: 19rem;
    top: 0rem;
    min-height: 100%;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    -webkit-transform: translate(-25rem, 0rem);
    transform: translate(-25rem, 0rem);
    z-index: 11;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  html[dir="rtl"] .mega-menu li a:before{
    right: -0.5rem;left: auto;
    -webkit-transform: translateY(-50%) rotateY(180deg);
    transform: translateY(-50%) rotateY(180deg);
  }
  body.sidebar-show .main-menu{
    -webkit-transform: translate(0rem, 0rem);
    transform: translate(0rem, 0rem);
  }
  .menu-icon:before{
    content: "";
    position: absolute;
    background-image: var(--menu-icon);
    background-size: cover;
    background-position: center;
    width: 60%;height: 60%;
    left: 20%;top: 20%;
  }
  .slider-theme-dark .menu-icon:before{
    background-image: var(--menu-icon-w);
  }
  body.sidebar-show .menu-icon{
    background-color: #ffffff;
  }
  body.sidebar-show .menu-icon:before{
    background-image: var(--menu-icon-close);
  }
  .sidebar-overlay{
    content: "";
    position: fixed;
    left: 0;top: 0;
    width: 0%;height: 100vh;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
  }
  body.sidebar-show .sidebar-overlay{
    width: 100%;
  }
  .bg-img-dark:before{
    width: 100%;
  }
  .swiper-slide .swiper-slide-content{
    min-height: 18rem;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: start;
  }
  section{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  #videoPlayPause.control-icons{
    left: 0.5rem;
    bottom: 1rem;
  }
  #videoMute.control-icons{
    right: 0.5rem;
    bottom: 1rem;
  }
  #videoExpand.control-icons{
    right: 0.5rem;
    top: 0.5rem;
  }
  .arrow-down-animate{
    display: none;
  }
  .text-typing-block{
    min-height: 70px;
  }
  .bg-gender{min-height: 500px;}
  .reference-bg-logo-none:after{
    position: absolute;
    content: "";
    background-image: var(--reference-bg-logo-none);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;left: 0;
  }
  .preloader:before{
    width: 150px;
    height: 150px;
  }
  .grey-eye-bg{
    width: 100%;
    height: 40vh;
  }
  .bottle-block-column{
    padding-top:30vh;
  }
  .blue-bg{
    position: absolute;
    background-color: #00689f;
    width: 100%;
    height: 75%;
    content: "";
    right: 0;
    top: 40vh;
  }
  .main-slider .slider-content-data img{
    max-width: 220px;
  }
  .countdown-timer-result{
    font-size: 8rem;
  }
  html[dir="rtl"] .countdown-timer-result{
    top: 54%;
  }
  .mega-menu.custom-icon-list-drop-blue>li::before{
    left: -1rem;
    top: 10px;
    height: 1rem;
    width: 1rem;
  }
  html[dir="rtl"] .mega-menu.custom-icon-list-drop-blue>li::before{
    top: 15px;
  }
  .main-menu .hover-line.active{color: #fff;}
  .main-menu .hover-line.active::before{
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, rgba(29,107,161,0.5), #72be4c);
    width: 100%;
    height: 100%;
    top: -5px;
    z-index: -1;
    left: 0px;
  }
  .main-menu .nav>li.nav-item{
    width: 100%;
  }
  .topbar{background-color: #fff;}
  .home.top-section .topbar{background-color: transparent;}
  .slider-theme-dark .topbar{background-color: #416b9c;}
  .prevention-content-bg::before{
    background-position: right;
  }
  html[dir="rtl"] .prevention-content-bg::before{
    background-position: left;
  }
  .info-hub-bg{padding-bottom: 0;}
  .info-hub-bg::before,.info-hub-bg::after{content: none;}
}
@media all and (min-width: 992px) {
	.nav-item .mega-menu{
    position: absolute;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    padding: 0.5rem;
    line-height: 1rem;
    width: 100%;top: 100%;
    background-color: rgba(var(--bs-primary-rgb),1);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav-item .mega-menu li a{
    padding-left: 0;
    padding-right: 0;
  }
  .nav-item:hover .mega-menu{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .nav-link.hover-line:before{
    position: absolute;
      content: "";
      width: 100%;opacity: 0;
      height: 100%;
      top: -2px;
      left: 0;
      z-index: -1;
      background-image: linear-gradient(to right, rgba(29,107,161,0.5), #72be4c);
    transition: all 0.5s ease-in-out;
  }
  .nav-item:hover .nav-link.hover-line:before,.nav-link.hover-line.active:before{
    opacity: 1;
  }
  @keyframes triggers-block-flip {
    0%,100% {transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
  }
  .triggers-block img{
    transform: rotateY(0deg);
  }
  .triggers-block:hover img{
    animation: triggers-block-flip 1s linear;
  }
  .nav{
    --bs-nav-link-padding-y:0;
  }
  .nav .mega-menu{
    --bs-nav-link-padding-y:0.5rem;
  }
  .nav-item:hover .mega-menu .nav-link{
    --bs-nav-link-color: #ffffff;
    --bs-nav-link-hover-color: #ffffff;
    min-height: 45px;
    padding-top: 15px;
  }
  .social-navbar a:hover img{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .main-menu .nav>li.nav-item:before{
    content: "";
    position: absolute;
    right: -1px;
    top: 48%;
    height: 1.2rem;
    width: 2px;
    transform: translateY(-50%);
    background-color: var(--theme-primary-color);
  }
  html[dir="rtl"] .main-menu .nav>li.nav-item:before{
    left: -1px;right: auto;top: 50%;
  }
  .main-menu .nav>li.nav-item:last-child::before{
    content: none;
  }
  .slider-theme-dark .main-menu .nav>li.nav-item:before{
    background-color: #ffffff;
  }
  .slider-theme-dark .nav-link{
    color: #ffffff;
  }
  .main-menu .nav>li.nav-item:last-child>.nav-link{
    border-right: none;
  }
  .animate-hover img{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .animate-hover:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
  section{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .section-bg-1,.section-bg-2{
      position: relative;
      background-image: url('../img/bg/slider-1.jpg');
      background-size: cover;background-repeat: no-repeat;
      background-position: 0px 0px;
  }
  .section-bg-2{
    background-image: url('../img/bg/slider-2.jpg');
  }
  .section-bg-1:before,.section-bg-2:before{
    position: absolute;
    content: "";
    left: 0;top: 0;
    width: 100%;height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
  }
  .video-full-width-fixed{
    position: fixed;
    width: 100%;height: auto;
    top: 0;left: 0;
    max-height: 100vh;
  }
  .video-full-width-fixed .video-block video{
    object-fit: cover;
    max-height: 100vh;
    object-position: bottom;
  }
  .add-full-vh{
    padding-top: 4rem;
  }
  .page-content.home #videoExpand.control-icons{
    top: 100px;
  }
  .arrow-down-animate{
    position: absolute;
    left: 50%;
    width: 2rem;
    height: 2rem;
    -webkit-ransform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 1.6rem;
    z-index: 1;
  }
  .text-tagline{font-size: 3.5rem;}
  .question-bg,.hyperhidrosis-main-bg,.primary-secondary-bg,.description-highlight-bg,.causes-rounded-main-bg,.surgical-rounded-main-bg,.diagnosis-main-bg,.complications-main-bg{position: relative;}
  .hyperhidrosis-main-bg:before,.diagnosis-main-bg:before,.complications-main-bg:before{
    position: absolute;
    content: "";
    background-image: var(--hyperhidrosis-main-bg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 35%;
    height: 100%;
    top: 0;right: 0;
  }
  .hyperhidrosis-main-bg:before{
    background-position: bottom left;
  }
  .diagnosis-main-bg:before{
    background-image: var(--diagnosis-main-bg);
    background-size: contain;
    background-position: right;
  }
  html[dir="rtl"] .diagnosis-main-bg:before{
    left: 0;right: auto;
    background-position: left;
  }
  .complications-main-bg:before{
    background-image: var(--complications-main-bg);
    background-size: contain;
    background-position: right;
  }
  html[dir="rtl"] .complications-main-bg:before{
    left: 0;right: auto;
    background-position: left;
  }
  .primary-secondary-bg:before,.description-highlight-bg:before{
    position: absolute;
    content: "";
    background-image: var(--primary-secondary-bg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 35%;
    height: 100%;
    top: 0;left: 0;z-index: -1;
  }
  .primary-secondary-bg .title-arrow:before{
    position: absolute;
    content: "";
    background-image: var(--primary-secondary-title-arrow);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 100px;
    top: 0px;
    right: 0px;
    z-index: -1;
    overflow: hidden;
  }
  html[dir="rtl"] .primary-secondary-bg .title-arrow:before{
    left: -75px;right: auto;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .primary-secondary-bg .title-arrow.title-arrow-secondary:before{
    top: -35px;
    right: 5px;
  }
  html[dir="rtl"] .primary-secondary-bg .title-arrow.title-arrow-secondary:before{
    top: 0;
    left: -80px;
  }
  html[dir="rtl"] .primary-secondary-bg:before,html[dir="rtl"] .description-highlight-bg:before{
    left: auto;right: 0;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .description-highlight-bg:before{
    background-image: var(--description-highlight-bg);
    width: 45%;
  }
  .causes-rounded-main-bg:before,.surgical-rounded-main-bg:before{
    position: absolute;
    content: "";
    background-image: var(--causes-rounded-main-bg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 35%;
    height: 100%;
    top: 0;right: 0;z-index: 0;
  }
  html[dir="rtl"] .causes-rounded-main-bg:before{
    left: 0;right: auto;
    background-position: right;
  }
  .surgical-rounded-main-bg:before{
    background-image: var(--surgical-rounded-main-bg);
    background-position: left;
    width: 50%;
  }
  html[dir="rtl"] .surgical-rounded-main-bg:before{
    left: 0;right: auto;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  html[dir="rtl"] .hyperhidrosis-main-bg:before{left: 0;right: auto;}
  .opacity-lg-0{opacity: 0;}
  .border-lg-right{position: relative;}
  .border-lg-right::before{
    width: 1px;
    height: 100%;
    position: absolute;content: "";
    background-color: var(--theme-primary-color);
    right: 0;
    top:0;
  }
  .campaign-visual-floating-logo img{
    height: 7rem;
  }
  .dry-eye-banner::before{
    background-image: var(--dry-eye-banner);
    width: 320px;
    background-size: 100%;
    height: 320px;
    position: absolute;
    content: "";
    left: 110%;
    top: 0%;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .ha-cmc-bg:before{
    background-image: var(--ha-cmc-bg);
    position: absolute;content: "";
    width: 50%;height: 100%;
    top: 0;right: 0;
    background-position: bottom right;
    background-size: cover;
  }
  html[dir="rtl"] .ha-cmc-bg:before{
    background-image: var(--ha-cmc-bg-ar);
    left: 0;right: auto;
    background-position: bottom left;
  }
  .grey-bg-50::before{
    position: absolute;
    content: "";
    background-image: url('../img/bg/product-grey-bg.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
    left: 0;top: 0;
  }
  .find-out-bg::before{
    position: absolute;
    content: "";
    background-image: url('../img/bg/find-out-bg.jpg');
    width: 60%;
    right: 0;left: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;top: 0;
  }
  html[dir="rtl"] .find-out-bg::before{
    left: 0;
    right: auto;
    background-image: url('../img/bg/find-out-bg-ar.jpg');
    background-position: left;
    width: 65%;
  }
  .how-to-use-bg::before,.ded-bg::before,.prevention-bg::before{
    position: absolute;
    content: "";
    background-image: url('../img/bg/how-to-use-bg.jpg');
    width: 70%;
    right: 0;left: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;top: 0;
  }
  .how-to-use-bg::before{width: 60%;}
  html[dir="rtl"] .how-to-use-bg::before{
    background-image: url('../img/bg/how-to-use-bg-ar.jpg');
    left: 0;right: auto;
  }
  .ded-bg::before{
    background-image: url('../img/bg/ded-bg.jpg');
    background-position: bottom;
    width: 60%;
  }
  html[dir="rtl"] .ded-bg::before{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    left: 0;
    right: auto;
  }
  .prevention-bg::before{
    background-image: url('../img/bg/prevention-bg.jpg');
    background-position: top;
    width: 60%;
  }
  html[dir="rtl"] .prevention-bg::before{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    left: 0;
    right: auto;
  }
  .prevention-bg-icon:before{
    content: "";position: absolute;
    right: 0;top: 0;width: 200px;height: 200px;
    background-image: url('../img/bg/prevention-bg-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;background-position: right;
  }
  html[dir="rtl"] .prevention-bg-icon:before{
    left: 0;right: auto;
  }
  .factors-bg::before{
    position: absolute;
    content: "";
    background-image: url('../img/bg/factors-bg-v1.jpg');
    width: 60%;
    right: 0;left: auto;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;top: 0;
  }
  html[dir="rtl"] .factors-bg::before{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    left: 0;
    right: auto;
  }
  .question-bg::before{
    position: absolute;
    content: "";
    background-image: url('../img/bg/question-bg.svg');
    width: 80%;
    right: -0.5rem;left: auto;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;top: 0;
  }
  .border-start-line{position: relative;}
  .border-start-line::before{
    position: absolute;content: "";
    left: 0;
    background-color: #0784c7;z-index: 1;
    top:0;width: 2px;height: 100%;
  }
  html[dir="rtl"] .border-start-line::before{
    right: 0;left: auto;
  }
  .mega-menu.custom-icon-list-drop-blue>li::before{
    content: none;
  }
  .mega-menu.custom-icon-list-drop-blue>li a{position: relative;font-size: 1rem;}
  .mega-menu.custom-icon-list-drop-blue>li a::before{
    position: absolute;
    content: "";
    background-image: url('../img/bg/menu-link-bg-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;height: 100%;
    right: 0;top: 2px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  html[dir="rtl"] .mega-menu.custom-icon-list-drop-blue>li a::before{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .mega-menu.custom-icon-list-drop-blue>li a.active::before,.mega-menu.custom-icon-list-drop-blue>li:hover a::before{
    opacity: 1;
  }
  body.slider-theme-primary .nav-link.hover-line.active{
    color: #fff;
  }
  .main-menu .nav>li.nav-item:after{
    content: "";
    position: absolute;
    left: 0;top:0;z-index: -1;opacity: 0;
    width: 100%;height:100%;
    background-image: url('../img/bg/menu-item-bg.svg');
    background-size: cover;background-position: top;
    transition: all 0.5s ease;
  }
  .main-menu .nav>li.nav-item:hover:after{
    opacity: 1;
  }
  .main-menu .nav>li.nav-item:hover .nav-link{color: #fff;}
  body .topbar{background-color: #fff;}
  body.slider-theme-dark .topbar{background-color: #416b9c;}
  body.home.top-section .topbar{background-color: transparent;}
  .reference-bg::after{
    content: "";position: absolute;
    right: 0;
    top:0;width: 50%;
    height: 100%;z-index: -1;
    background-color: #e4e3e3;
  }
  html[dir="rtl"] .reference-bg::after{
    right: auto;left: 0;
  }
  .border-line-right:after{
    position: absolute;
    content: "";
    background-color: var(--bs-info);
    right: 0;top: 0;
    height: 100%;
    width: 2px;
  }
  html[dir="rtl"] .border-line-right:after{
    right: auto;left: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1850px){
  .info-hub-bg::before,.info-hub-bg::after{
    max-height: 580px;
  }
}
@media (min-width: 1200px) {
  .countdown-content::before{
    position: absolute;
    content: "";
    background-color: #92c54f;
    left: -20%;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    width: 8px;
  }
  html[dir="rtl"] .countdown-content::before{
    left: auto;right: -20%;
  }
}
